body {
  background-color: #fafafa;
  font-family: Arial;
}

.col-md-1 {
  background-color: #fafafa;
}

.col-md-5 {
  background-color: #fafafa;
}

.col-md-4 {
  background-color: #fafafa;
}

.col-md-2 {
  background-color: #fafafa;
}

div.row {
  background-color: #fafafa;
}

img#phone.center-box {
  padding-top: 100px;
}

main {
  text-align: center;
  background-color: white;
  margin-top: 50px;
}

img#logo {
  width: 175px;
  padding-top: 20px;
  display: block;
  margin: auto;
}

a.btn.btn-default {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

.or-line {
  color: gray;
  font-size: 13px;
}

.line {
  height: 1px;
  background-color: #c7c7c7;
  width: 31%;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 6px;
  margin-right: 15px;
  margin-left: 5%;

}

p {
  color: gray;
  font-size: 13px;
  display: inline-block;
  width: 10%;
  margin: 0;
  font-weight: 600;
}

.h3, h3 {
  color: #999;
  font-size: 13px;
}

form {
}

div.form-group {
  display: block;
  margin: auto;
  width: 258px;
  padding: 0;
}

input#exampleInputEmail1.form-control {
  margin: 10px 0px;
  background-color: #fafafa;
  border-radius: 0px;
  border-width: 1px;
  border-color: lightgray;
}
